@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Bebas+Neue&display=swap');




#content
{
    max-width: 1600px;
    margin: 0 auto;
}

body
{
    background-color: #5F7367;
    margin: 0 auto;
    font-family: 'Abyssinica SIL', serif, Times;
    font-size: 22px;
    padding: 0;
}

header
{
    background-color: #550C18;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover
{
    background-color: #274690;
    color: white;
}

.book, .join 
{
    background-color: #0B6E4F;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover
{
    background-color: #274690;
    color: white;
}

nav
{
    display: flex;
    justify-content: space-around;
}

nav a 
{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg
{
    grid-column: 2/3;
    grid-row: 1-2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4
{
    text-align: center;
}

#hero-msg h4
{
    color: white;
}

#hero-box
{
    grid-column: 1/4;
    grid-row:1/3;
    z-index: -1;
}

.button-box
{
    text-align: center;
}

main section
{
    text-align: center;
    font-family: 'Abyssinica SIL', serif, Times;
}

#background
{
    height: 725px;
    background-color: #274690;
}

.msg
{
    background-color: #274690;
    line-height: 1.5em;
    padding: 35px;
}

footer
{
    background-color: #550C18;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a
{
    color: white;
    text-decoration: none;
}

footer a:hover
{
    color: #274690;
}

footer p
{
    font-size: 1.2em;
}

footer p a:hover
{
    text-decoration: underline;
}

.home-title
{
    color: white;
    font-family: 'Bebas Neue', cursive, Cambria;
    font-size: 2em;
    margin-top: 50px;
}

h2
{
    margin:auto 0;
}

h4
{
    color: white;
}

.msg h2
{
    color: white;
    font-family: 'Bebas Neue', cursive, Cambria;
}

.msg p
{
    color: white;
    font-size: .8em;

}

.logo
{
    width: 80px;
}

.icon
{
    width: 80px;
    padding-top: 10px;
}

#hero-img
{
    width: 100%
}

#logo_link
{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img
{ 
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card
{
    margin: 200px 0;
}

.card-img
{
    border: 10px solid black;
}

main section img
{
    box-sizing: border-box;
}