@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Stick+No+Bills:wght@300&display=swap');


body
{
    background-color: #5F7367;
    margin: 0 auto;
    padding: 0;
}

#content
{
    max-width: 1600px;
    margin: 0 auto;
}

header
{
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

footer
{
    background-color: #550C18;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}