@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Stick+No+Bills:wght@300&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #043F45   ;
    --secondary-color: #358A8A ;
    --accent1-color: #D96E30;
    --accent2-color: #D0CDCD;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Stick No Bills', sans-serif, Helvetica;
    --paragraph-font: 'Share Tech', sans-serif, Helvetica;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #043F45;  /* headlines on a white background */ 
    --headline-color-on-color: #043F45; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #358A8A; /* paragraph text on a colored background */ 
    --paragraph-background-color: #D0CDCD  ;
    --nav-link-color: white;
    --nav-background-color: #358A8A;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #D96E30;
  }

  .card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 1em;
    background-color: white;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
    padding: 0.01em 16px;
  }

  .card-icon{
    height: 200px;
  }

  .contactus-style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .aboutme-style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .plan{
    width: 200px;
  }

  .logo
    {
    width: 80px;
    }

    #logo_link
    {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    }

    h1{
        margin: 0;
    }

    .banner
    {
        background-color: #D0CDCD;
        color: #043F45;
        padding: 3em;
        box-shadow: 0px 15px 10px -15px #111;
    }

    .grad {
        background-image: linear-gradient(#D98D30, #D96D30);
    }

  body {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    color: white;
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

  footer
{
    background-color: #358A8A;
    color: white;
    padding: 0px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a
{
    color: white;
    text-decoration: none;
}

footer a:hover
{
    color: #274690;
}

footer p
{
    font-size: 1.2em;
}

footer p a:hover
{
    text-decoration: underline;
}
footer .social img
{ 
    padding-top: 15px;
    flex-direction: row;
}

.social {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo_link
{
    justify-self: center;
    align-self: center;
}

